<mat-card class="mat-card mat-elevation-z1">
  <div class="container mb-5 mt-4">
    <h1 class="jumbotron-title">Portal Tusca</h1>
    <h2 class="jumbotron-subtitle">Informe-se sobre o maior campeonato universitario do país.</h2>
  </div>
</mat-card>
<div class="mat-elevation-z2 pb-0 pt-4" style="height: 100%;">
  <div class="container">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label >O que deseja buscar?</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>